{% extends "base.html" %} 
{%block title%}Admin{%endblock%} 
{%block content%}
  
    <h1 align="center">Admin Register Page</h1>
    <div class="form-group">
    <form method="POST" action="">
      {{ form.hidden_tag() }} 
      {{ form.username (class="form-control")}} <br> 
      {{form.email (class="form-control") }} <br>
      {{ form.password (class="form-control") }} <br>
      {{form.phone (class="form-control" ) }} <br>
      {{form.submit (class="btn btn-primary") }}
      <br>
     
    </form>


    
  </div>
  {%endblock%}
  

